

h1 {
    
    color: blue;
    text-align: center;
    margin-top: 40px;
}

h2 {
    color:brown;
    text-align: center;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: row;

}
    
.item {



}